<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width-device-width", initial-scale="1">
       <title>Expediente General</title> 
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="{& url 'expedienteg' %}" class="navbar-item">Expediente General</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'expedienteg' %}?expgid=0" class="navbar-item">Nuevo Expediente</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Expediente General</p>

                        <ul class="menu-list">
                            {% for expg in expedientesg %}
                                <li>
                                    <a href="{% url 'expedienteg' %}?expgid={{ expg.id }}">{{ expg.nombreG }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>

                <div class="column is-10">
                    <form method="post" action="{% url 'expedienteg' %}">
                        {% csrf_token %}

                        <input type="hidden" name="expgid" value="{{ expgid }}">

                        <div class="field">
                            <label class="label">Nombre del Paciente
                                {% if expedienteg %}
                                    <span class="has-text-grey-light">
                                        Created at: {{ expedienteg.fecha|date:"m/d Y" }} / Modified at: {{ expedienteg.fecha_actG|date:"m/d Y" }}
                                    </span>
                                {% endif %}
                            </label>

                            <div class="control">
                                <input type="text" class="input" name="nombreG" placeholder="Nombre del Paciente"{% if expedienteg %} value="{{ expedienteg.nombreG }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Peso</label>
                            <div class="control">
                                <input type="text" class="input" name="peso" placeholder="Peso"{% if expedienteg %} value="{{ expedienteg.peso }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Operaciones</label>
                            <div class="control">
                                <input type="text" class="input" name="operaciones" placeholder="Operaciones"{% if expedienteg %} value="{{ expedienteg.operaciones }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Lesiones</label>
                            <div class="control">
                                <input type="text" class="input" name="lesiones" placeholder="Lesiones"{% if expedienteg %} value="{{ expedienteg.lesiones }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Alergias</label>
                            <div class="control">
                                <input type="text" class="input" name="alergias" placeholder="Alergias"{% if expedienteg %} value="{{ expedienteg.alergias }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Enfermedades</label>
                            <div class="control">
                                <input type="text" class="input" name="enfermedades" placeholder="Enfermedades"{% if expedienteg %} value="{{ expedienteg.enfermedades }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Tipo de Sangre</label>
                            <div class="control">
                                <input type="text" class="input" name="tipoSangre" placeholder="TipoSangre"{% if expedienteg %} value="{{ expedienteg.tipoSangre }}"{% endif %}>
                            </div>
                        </div>


                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary" action="">Save</button>
                            </div>
                            {% if expedienteg %}
                                <div class="control">
                                    <a href="{% url 'delete_expedienteg' expedienteg.id %}" class="button is-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>

                </div>

            </div>
        </section>
    </body>
</html>