<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width-device-width", initial-scale="1">
       <title>Expediente Dental</title> 
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="{& url 'expediented' %}" class="navbar-item">Expediente Dental</a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'expediented' %}?expdid=0" class="navbar-item">Nuevo Expediente Dental</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Expediente Dental</p>

                        <ul class="menu-list">
                            {% for expd in expedientesd %}
                                <li>
                                    <a href="{% url 'expediented' %}?expdid={{ expd.id }}">{{ expd.nombreD }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>

                <div class="column is-10">
                    <form method="post" action="{% url 'expediented' %}">
                        {% csrf_token %}

                        <input type="hidden" name="expdid" value="{{ expdid }}">

                        <div class="field">
                            <label class="label">Nombre del Paciente
                                {% if expediented %}
                                    <span class="has-text-grey-light">
                                        Created at: {{ expediented.fechaD|date:"m/d Y" }} / Modified at: {{ expediented.fecha_actD|date:"m/d Y" }}
                                    </span>
                                {% endif %}
                            </label>

                            <div class="control">
                                <input type="text" class="input" name="nombreD" placeholder="Nombre del Paciente"{% if expediented %} value="{{ expediented.nombreD }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Nombre del Diente</label>
                            <div class="control">
                                <input type="text" class="input" name="NDiente" placeholder="Nombre del Diente"{% if expediented %} value="{{ expediented.NDiente }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Descripcion</label>
                            <div class="control">
                                <input type="text" class="input" name="Descripcion" placeholder="Descripcion"{% if expediented %} value="{{ expediented.Descripcion }}"{% endif %}>
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary" action="">Save</button>
                            </div>
                            {% if expediented %}
                                <div class="control">
                                    <a href="{% url 'delete_expediented' expediented.id %}" class="button is-danger">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </form>

                </div>

            </div>
        </section>
    </body>
</html>