<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles_index.css" />
    
    <link
      rel="shortcut icon"
      href="static/Carita.png"
      type="image/x-icon"
    />
    <title>MedicData</title>
  </head>
  <body>
    <header>
      <a href="http://omaya.gerdoc.com/"><img class="logo" src="static/Carita.png" alt="logo" /></a>
      <nav>
        <ul class="nav_links">
          <li><a href="#">About MedicData</a></li>
          <li><a href="#">About JAYMO</a></li>
        </ul>
      </nav>
      <a class="cta" href="login/"><button>Log in</button></a>
    </header>
  </body>
</html>
